		<title><%= t("app_name") %></title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet"> -->
	  
	  <%= stylesheet_link_tag    "bootstrap", media: "all" %>
	  <%= stylesheet_link_tag    "bootstrap-overrides", media: "all" %>
	  <%= stylesheet_link_tag    "jquery-ui-1.10.2.custom", media: "all" %>
  	<link href="/assets/font-awesome.min.css" rel="stylesheet"> 
	  <%= stylesheet_link_tag    "layout", media: "all" %>
	  <%= stylesheet_link_tag    "elements", media: "all" %>
	  <%= stylesheet_link_tag    "icons", media: "all" %>

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

	  <%= javascript_include_tag "application" %>

	  <%= render(partial: "layouts/google_analytics") if Rails.env.production? %>
	  <%= csrf_meta_tags %>

		<meta property="og:title" content="<%= t :social_title %>" /> 
		<meta property="og:description" content="<%= t :social_description %>" />
		<meta property="og:url" content="http://reportame.valdivia.me/" />
		<meta property="og:image" content="<%= asset_url "screenshot_mid.png" %>" />

		<meta name="twitter:card" content="<%= t :social_title %>" />
		<meta name="twitter:title" content="<%= t :social_title %>" />
		<meta name="twitter:description" content="<%= t :social_description %>" />

		<meta name="description" content="<%= t :social_description %>" />
