<script>
function getLocation(){
  if (navigator.geolocation)
    navigator.geolocation.getCurrentPosition(showPosition);
  else{
    x.innerHTML="Geolocation is not supported by this browser.";
  }
}
function showPosition(position){
  $("#incident_latitude").val(position.coords.latitude);
  $("#incident_longitude").val(position.coords.longitude);
}

$(document).ready(function(){
  entry_tabs();
  $("#gps-link").click(function(){ getLocation(); });

  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $("#gps-link").trigger("click");
  }
});

function entry_tabs(){
  $("#entry-tab a").click(function(e){
    var tab       = $(this);
    var li        = tab.parent();
    var content   = $(tab.attr("href"));

    e.preventDefault();
    $("#entry-tab li").removeClass("active");
    li.addClass("active");
    content.parent().find(".tab-pane").removeClass("active");
    content.addClass("active");
  });
}
</script>


<section id="Section-5">
  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-lg-12">

        <%= form_for(@incident, html: {class: "form-horizontal", role: "form"}) do |f| %>
          <% if @incident.errors.any? %>
            <div id="error_explanationx" class="panel panel-danger">
              <div class="panel-heading">
                <h3 style="padding-top:0; margin-top:0;"><i class="icon-warning-sign icon-1x"></i>&nbsp;<%= t :errors_found %></h3>
              </div>
              
              <div class="panel-body">
                <ul>
                <% @incident.errors.full_messages.each do |msg| %>
                  <li>&nbsp;<%= msg %></li>
                <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 style="padding-top:0; margin-top:0;"><i class="icon-plus-sign icon-1x"></i> <%= t("menu.report_incident") %></h3>
            </div>

            <div class="panel-body">

              <ul class="nav nav-pills" id="entry-tab">
                <li class="active"><a href="#manual"><%= Incident.human_attribute_name(:manual_entry) %></a></li>
                <li><a href="#gps" id="gps-link"><%= Incident.human_attribute_name(:gps_entry) %></a></li>
              </ul>

              <p></p>

              <div class="tab-content">
                <div class="tab-pane active" id="manual">
                  <div class="field form-group">
                    <%= f.label :address_1, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                      <%= f.text_field :address_1, class: "form-control" %>
                    </div>
                  </div>
                  <div class="field form-group">
                    <%= f.label :address_2, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                      <%= f.text_field :address_2, class: "form-control" %>
                    </div>
                  </div>
                  <div class="field form-group">
                    <%= f.label :neighborhood, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                      <%= f.text_field :neighborhood, class: "form-control" %>
                    </div>
                  </div>
                  <div class="field form-group">
                    <%= f.label :city, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                      <%= f.select :city, options_for_select( Incident.cities.collect{ |x| [x, x] } ),
                        {}, class: "form-control" %>
                    </div>
                  </div>
                  <div class="field form-group">
                    <%= f.label :zip, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                      <%= f.text_field :zip, class: "form-control" %>
                    </div>
                  </div>
                </div>
                
                <div class="tab-pane" id="gps">
                  <div class="field form-group">
                    <%= f.label :latitude, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                      <%= f.text_field :latitude, class: "form-control", readonly: "readonly" %>
                    </div>
                  </div>
                  <div class="field form-group">
                    <%= f.label :longitude, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                      <%= f.text_field :longitude, class: "form-control", readonly: "readonly" %>
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="field form-group">
                <%= f.label :incident_type, class: "col-lg-2 control-label" %>
                <div class="col-lg-10">
                  <%= f.select :incident_type, 
                    options_for_select( Incident::TYPES.collect{ |x| [Incident.human_attribute_name(x), x ] } ),
                    {prompt: true}, class: "form-control" %>
                </div>
              </div>
              <div class="field form-group">
                <%= f.label :occured_at, class: "col-lg-2 control-label" %>
                <div class="col-lg-10">
                  <%= f.datetime_select :occured_at %>
                </div>
              </div>
              <div class="field form-group">
                <%= f.label :description, class: "col-lg-2 control-label" %>
                <div class="col-lg-10">
                  <%= f.text_area :description, class: "form-control" %>
                </div>
              </div>
              <div class="actions form-group">
                <div class="col-sm-offset-7 col-lg-7">
                  <%= f.submit t("save"), class: "btn btn-default" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>