<script>
PaginationDemoCtrl = function ($scope) {
  $scope.totalItems = 64;
  $scope.currentPage = 4;
  $scope.maxSize = 5;
  
  $scope.setPagexxx = function (pageNo) {
    alert(pageNo)
    $scope.currentPage = pageNo;
  };

  $scope.bigTotalItems = 175;
  $scope.bigCurrentPage = 1;
};
</script>

<div ng-controller="PaginationDemoCtrl" class="well well-small">
  <h4>Default</h4>
  <pagination total-items="totalItems" page="currentPage" on-select-page="setPagexxx(page)"></pagination>
</div>


<div id="pad-wrapper" class="full" ng-controller="IncidentCtrl">

  <div id="main-map-canvas" class=""></div>

  <!-- table sample -->
  <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
  <div class="table-products section" style="margin-top:0px; border-top:0px;">
    <div class="row head">
      <div class="col-md-12">
        <h4><%= t :recent_incidents %></h4>
      </div>
    </div>

    <div class="row filter-block">
      <div class="pull-right">
        <div class="ui-select">
          <select>
            <option>Filter users</option>
            <option>Signed last 30 days</option>
            <option>Active users</option>
          </select>
        </div>
        <input type="text" class="search">

        <a href="<%= new_incident_path %>" class="btn-flat success new-product">
          + <%= t("page.actions.new", name: Incident.model_name.human) %>
        </a>
      </div>
    </div>

    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-1"><%= Incident.human_attribute_name(:incident_type) %></th>
            <th class="col-md-3"><span class="line"></span><%= Incident.human_attribute_name(:full_address) %></th>
            <th class="col-md-3"><span class="line"></span><%= Incident.human_attribute_name(:occured_at) %></th>
            <th class="col-md-3"><span class="line"></span><%= Incident.human_attribute_name(:description) %></th>
          </tr>
        </thead>
        <tbody>
          <tr class="firstxx" ng-repeat="incident in incidents | limitTo:5">
            <td>
              <span class="label label-danger">{{incident.translated_type}}</span>
            </td>
            <td>{{incident.full_address}}</td>
            <td>{{incident.occured_at}}</td>
            <td class="description">{{incident.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
   
    <pagination total-items="totalItems" page="currentPage" class="pull-right" on-select-page="setPage(page)"></pagination>

  </div>
  <!-- end table sample -->


</div>
<!-- end pad-wrapper -->

