  <title><%= t("app_name") %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/style.css" rel="stylesheet">
  <link href="/assets/font-awesome.min.css" rel="stylesheet"> 

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="<%= t :social_title %>" /> 
  <meta property="og:description" content="<%= t :social_description %>" /> 

  <meta name="twitter:card" content="<%= t :social_title %>" />
	<meta name="twitter:title" content="<%= t :social_title %>" />
	<meta name="twitter:description" content="<%= t :social_description %>" />

	<meta name="description" content="<%= t :social_description %>" />
